extends layout

block content
  h2.page-header Register
  p Please Register using the form below
  if errors
    each error, i in errors
      div.alert.alert-danger #{error.msg}
  form(method='POST', action='/users/register')
    .form-group
      label Name
      input.form-control(name='name', type='text', placeholder='Enter Name')
    .form-group
      label Date of Birth
      input.form-control(name='dateofbirth', type='date')
    .form-group
      label Country of Origin
      input.form-control(name='country', type='text', placeholder='Enter Country')
    .form-group
      label Email
      input.form-control(name='email', type='email', placeholder='Enter Email')
    .form-group
      label Username
      input.form-control(name='username', type='text', placeholder='Enter Username')
    .form-group
      label Password
      input.form-control(name='password', type='password', placeholder='Enter Password')
    .form-group
      label Confirm Password
      input.form-control(name='password2', type='password', placeholder='Confirm Password')
    input.btn.btn-primary(type ='submit', name = 'submit', value='Register')
